



@-webkit-keyframes SectionHero__animationTitle__5CFqG {
    0% {
        visibility: hidden;
        opacity: 0;
        top: -20px
    }
    to {
        visibility: visible;
        opacity: 1;
        top: 0
    }
}

@keyframes SectionHero__animationTitle__5CFqG {
    0% {
        visibility: hidden;
        opacity: 0;
        top: -20px
    }
    to {
        visibility: visible;
        opacity: 1;
        top: 0
    }
}


/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */

h1 {
    font-size: 2em;
    margin: .67em 0
}

::-moz-selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none
}

::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none
}


body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

::selection {
    background: #4a4a4a;
    color: #fff
}

::-moz-selection {
    background: #4a4a4a;
    color: #fff
}

h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

@media (min-width:768px) {
    h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
    }
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

@media (min-width:768px) {
    h2 {
        line-height: 32px;
    }
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}


h4 {
    font-weight: 500;
    font-size: 16px;

}

@media (min-width:768px) {
    h4 {
        font-weight: 500;

    }
}

h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

}

@media (min-width:768px) {
    h5 {
        line-height: 24px;

    }
}

h6 {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

}

@media (min-width:768px) {
    h6 {
        line-height: 16px;
    }
}


html {
    font-family: sofiapro, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

@media (min-width:768px) {
    html {
        font-size: 20px;
        line-height: 24px
    }
}

html {
    color: #4a4a4a;
    margin: 0
}

html,
ul {
    padding: 0
}

ul {
    list-style: none
}